body {
  font-size: 14px;
  line-height: 21px;
  /* width: 600px; */
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-size: 14px;
}

h1 {
  text-align: center;
}

.flowchart,
h2,
h3 {
  text-align: left;
  margin-block-start: 2rem;
}

.avoid-page-break-after {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

pre,
blockquote {
  page-break-inside: avoid;
}

.align-center {
  text-align: center;
}

#app {
  display: none;
}

@media print {
  @page {
    size: A4;
    margin: 10mm 15mm;
    bleed: 6mm;
    marks: crop cross;
  }
  /* .chapter {
    break-before: right;
  } */
}
