body {
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  break-before: page;
}

h2,
h3 {
  font-weight: 600;
}

h4 {
  font-weight: initial;
}

h2,
h3,
h4 {
  font-size: 14pt;
  text-align: justify;
  text-indent: 15mm;
  margin-block-start: 21pt;
  break-inside: avoid;
}

p,
h4 {
  margin-block-start: 14pt;
  margin-block-end: 7pt;
  text-indent: 15mm;
  text-align: justify;
}

img {
  margin-left: -15mm;
}

p,
ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  text-align: justify;
}

.flowchart {
  text-align: left;
  margin-block-start: 21pt;
}

.avoid-page-break-after {
  page-break-after: avoid;
}

.page-break-before {
  page-break-before: always;
}

pre,
blockquote {
  page-break-inside: avoid;
}

.align-center {
  text-align: center;
}

#app {
  display: none;
}

.katex-table-sm > span.katex-display {
  font-size: 12pt;
  margin: 0;
  margin-block-end: 14pt;
}

.katex-table-md > span.katex-display {
  font-size: 13pt;
  margin: 0;
  margin-block-end: 14pt;
}

th,
td {
  border: 1px solid black;
  padding: 0.125rem 0.25rem;
  text-align: center;
  line-height: initial;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  break-inside: avoid;
}

.break-before {
  break-before: page;
}

.font-bold {
  font-weight: 600;
}

.title-sheet {
  text-align: center;
}

.title-sheet .header1 {
  font-weight: 600;
  margin-bottom: 6rem;
}

.title-sheet .header2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

.title-sheet .header3 {
  text-align: left;
  margin-left: 40%;
}

.footer {
  margin-top: 15rem;
  text-align: center;
}

.title-table {
  border: none;
  font-size: 14pt;
  line-height: 21pt;
  padding-top: 0.5rem;
}

@media print {
  @page {
    size: A4;
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 35mm;
    margin-right: 15mm;
    bleed: 6mm;
    /* marks: crop; */
    font-size: 14pt;
    line-height: 21pt;

    @top-right-corner {
      font-size: 14pt;
      content: counter(page);
    }
  }

  @page :nth(1) {
    @top-right-corner {
      content: none;
    }
  }

  @page :nth(2) {
    @top-right-corner {
      content: none;
    }
  }
}
